In [30]:
import pandas as pd
import numpy as np
from zipfile import ZipFile
import random

In [31]:
file_name = 'train.csv.zip'

In [32]:
with ZipFile(file_name, 'r') as zip:
    zip.printdir()
    zip.extractall()

File Name                                             Modified             Size
train.csv                                      2020-04-09 21:45:46      3501243

In [33]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [34]:
df_train.head()

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative

In [35]:
df_test.head()

       textID                                               text sentiment
0  f87dea47db  Last session of the day  http://twitpic.com/67ezh   neutral
1  96d74cb729   Shanghai is also really exciting (precisely -...  positive
2  eee518ae67  Recession hit Veronique Branquinho, she has to...  negative
3  01082688c6                                        happy bday!  positive
4  33987a8ee5             http://twitpic.com/4w75p - I like it!!  positive

In [36]:
print(df_train.shape)
print(df_test.shape)

(27481, 4)
(3534, 3)

In [37]:
print("----Train null value---")
print(df_train.isnull().sum())
print("=="*10)
print("----Test null value----")
print(df_test.isnull().sum())

----Train null value---
textID           0
text             1
selected_text    1
sentiment        0
dtype: int64
====================
----Test null value----
textID       0
text         0
sentiment    0
dtype: int64

In [38]:
df_train.dropna(inplace=True)

In [39]:
df_train.isnull().sum()

textID           0
text             0
selected_text    0
sentiment        0
dtype: int64

In [40]:
print(df_train.info())
print('=='*20)
print(df_test.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27480 entries, 0 to 27480
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   textID         27480 non-null  object
 1   text           27480 non-null  object
 2   selected_text  27480 non-null  object
 3   sentiment      27480 non-null  object
dtypes: object(4)
memory usage: 1.0+ MB
None
========================================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3534 entries, 0 to 3533
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   textID     3534 non-null   object
 1   text       3534 non-null   object
 2   sentiment  3534 non-null   object
dtypes: object(3)
memory usage: 83.0+ KB
None